/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(20, 20, 20);  
    
    color: #000000;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
    clear: both;
}


header {
    color: rgb(170, 34, 0);
    text-align: center;
}

p{
    text-align: left;
    color: rgb(139, 139, 139);
    padding-left: 15px;
    padding-bottom: 10px;
}

/* animaties */

@keyframes veranderKleur{
    0% {
         color: red;
        }
    25% {
        color: yellow;
    } 
    50% {
        color: green;
    }
    75% {
        color: blue;
    }
    100% {
        color: purple;
    }
}

.veranderKleur {
    animation: veranderKleur 20s infinite;
}

@keyframes vliegInLinks{
    0% {
        left: -1000px;
    }
    100% {
        left: 0px;
    }
}

@keyframes vliegInRechts{
    0% {
        right: -1000px;
    }
    100% {
        right: 0px;
    }
}

.vliegInRechts{
    position: relative;
    animation: vliegInRechts 3s;
}

.vliegInLinks{
    position: relative;
    animation: vliegInLinks 3s;
}

/* specifieke stijlen */

li.Rechts{
    text-align: justify;
    color: rgb(139, 139, 139);
    padding-left: 15px;
    padding-bottom: 10px;
}

img.zweefRechts {
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
    width: 350px;
    height: 300px;
}

img.zweefLinks{
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    width: 350px;
    height: 300px;
}

img#Colosseum{
    height: 250px;
}

img#soldaat{
    width: 230px;
}

img#Augustus{
    width: 250px;
}

img#Romulus{
    width: 300px;
    height: 200px;
}

img#senaat{
    height: 250px;
}

p.footer {
    text-align: center;
    padding-bottom: 10px;
    font-family: monospace, sans-serif;
}

p.smalltext.footer {
    font-size: 0.7em;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #880000;
    overflow: hidden;
}

nav ul li {
    float: left;
    width: 140px;
    height: 48px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px double #EEEEEE;
}

nav li a:hover {
    background-color: #007ba0;
}

nav li a.active {
    background-color: rgb(255, 0, 0);
}
