/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #EEEEEE;  
    
    color: #000000;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(170, 34, 0);
    text-align: center;
}

p{
    text-align: left;
    padding-left: 15px;
    padding-bottom: 10px;
}

/* specifieke stijlen */

img.zweefRechts {
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
}

img.zweefLinks{
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}

p.footer {
    text-align: center;
    padding-bottom: 10px;
    font-family: monospace;
}

p.smalltext.footer {
    font-size: 0.7em;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #880000;
    overflow: hidden;
}

nav ul li {
    float: left;
    width: 140px;
    height: 46px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid #EEEEEE;
}

nav li a:hover {
    background-color: #007ba0;
}

nav li a.active {
    background-color: rgb(255, 0, 0);
}
